body {
  background: linear-gradient(to right, #39414f, #4b5563);
}
.videoTag {
  width: 100%;
  height: 100%;
  top: 0;
  padding: none;
  position: absolute;
  z-index: -1;
}
.sidebar {
  width: 25%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #282d36;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.7), 0 17px 50px 0 rgba(0, 0, 0, 0.7);
}
.sidebaritems {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.userinfo {
  margin-top: 50px;
  color: #d1d1d1;
  font-size: 22px;
  text-align: center;
}
.btnsignout {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  margin-left: 15%;
  position: absolute;
  bottom: 6%;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: #9d9d9d;
  cursor: pointer;
}
.detectionform {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.7), 0 17px 50px 0 rgba(0, 0, 0, 0.7);
  width: 70%;
  height: 90%;
  margin-left: 28%;
  margin-top: 2%;
  position: absolute;
  background: rgba(72, 78, 95, 0.7);
  border-radius: 40px;
  color: #d1d1d1;
  font-size: 22px;
  display: flex;
}
.linkinputandbtn {
  position: absolute;
  color: #d1d1d1;
  font-size: 22px;
  display: flex;
  margin-right: 25px;
  right: 0;
}
.linkinput {
  height: 30px;
  width: 300px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  background: #9d9d9d;
}
.detectbtn {
  height: 30px;
  margin-top: 25px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  border: none;
  border-radius: 25px;
  background: #9d9d9d;
  cursor: pointer;
}
.detectedimg {
  position: absolute;
  margin-left: 40%;
  margin-top: 10%;
}
.logoimg {
  height: 150px;
  border-radius: 70px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.7), 0 17px 50px 0 rgba(0, 0, 0, 0.7);
}
.detectiontopbox {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.3), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  background-color: #282d36;
  width: 100%;
  height: 15%;
  border-radius: 25px 25px 0px 0px;
}
.detectionformheading {
  margin-left: 3%;
  margin-top: 2.5%;
}
